@{
    ViewBag.Title = "Home Page";
}

<div class="col-md-4 center-block col-md-4" style="float: none; margin-top: 10px">
    <div class="panel panel-default">
        <div class="panel-heading">Application functionality</div>
        <div class="panel-body">
            <p>
                1. Display anagram search results for a given simple list of words (which is configured in the application's web.config file).
            </p>
            <p>
                2. Display anagram search results for a given complex list of words/phrases (which is configured in the web.config file of the application).
            </p>
            <p>
                3. Find anagrams in a given list of words or phrases.
            </p>
        </div>
    </div>
</div>