body {
    padding-top: 50px;
    padding-bottom: 20px;
    font-family: "arial";
    color: #00000f;
    background-color: #fffffe;
}

.body-content {
    padding-left: 10px;
    padding-right: 10px;
}

@media (min-width: 768px) {
    .navbar-header {
        float: none;
    }

    .navbar-toggle {
        display: block;
    }

    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        padding-right: 15px;
        padding-left: 15px;
    }

    .navbar-collapse.collapse {
        display: none !important;
    }

        .navbar-collapse.collapse.in {
            display: block !important;
            margin-top: 0px;
        }
}

@media (min-width: 992px) {
    .navbar-header {
        float: left;
    }

    .navbar-toggle {
        display: none;
    }

    .navbar-fixed-top .navbar-collapse,
    .navbar-static-top .navbar-collapse,
    .navbar-fixed-bottom .navbar-collapse {
        display: block !important;
    }
}